<launch>
    <node 
        pkg="ros_record_rgbd_images" 
        type="record_color_depth_images_to_disk.py" 
        name="record_color_depth_images_to_disk" 
        output="screen"
        args="  --depth_topic camera/aligned_depth_to_color/image_raw \
                --color_topic camera/color/image_raw \
                --dst_folder output \
                --max_frame_rate 10.0" 
    />
</launch>
